.dropdown-toggle {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    background-color: #ffffff;
    opacity: 0.75;
    position: absolute;
    min-width: 40px;

    .dropdown-item {
        text-transform: uppercase;
        font-size: 0.7142em;
        line-height: 1.625rem;

        &:hover {
            background-color: #17a2b8;
        }
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.sub-dropdown {
    // top: 0;
    left: 100%;
    display: inline-block;
    white-space: nowrap;

    background-color: #ffffff;
    position: absolute;
    min-width: 40px;
}